<header class="page-header inner">
  <div class="container animate-up">
    <h1><%- title %></h1>
    <a href="/logout" class="back">
      <img src="/images/logout.svg" alt="Sair" />
    </a>
  </div>
</header>